*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
html{
    scroll-behavior: smooth;
}
.banner{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(218, 203, 203, 0.75), rgba(24, 22, 22, 0.75)), url(bg.jpg) ;
background-size: cover;
background-position: center;
}
.bar{
    width: 85%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    width: 120px;
    cursor: pointer;
    margin-left: -80px;
   
}
.bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.bar ul li a{
    text-decoration: none;
    color:rgba(24, 22, 22, 0.75);
    text-transform: uppercase;
    font-weight: 900;
   
}
.bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(218, 27, 27);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.bar ul li:hover::after{
  
    width: 100%;
    
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:rgb(0, 0, 0);
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    font-size: 30px;
    margin: 30px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px rgb(13, 161, 25);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:rgb(13, 161, 25);
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}


.Thermo{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(218, 203, 203, 0.75), rgba(24, 22, 22, 0.75)), url(thermo.jpg) ;
    background-size: cover;
    background-position: center;
}

.therm{

    width: 50%;
    position: absolute;
    top: 140%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
    right: 0px;
}
.therm h1{   
    font-size: 50px;
    margin-top: 30px;
             
}
    .therm p{
    color: white;
    font-size: 20px;
    }
.astro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(218, 203, 203, 0.75), rgba(24, 22, 22, 0.75)), url(astro.jpg) ;
    background-size: cover;
    background-position: center;
}
.bar2{
    position: absolute;
    top: 850px;
    right: 550px;
}
.book{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 0px;
    right: 660px;
}
.book2{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 0px;
    right: 280px;
  
}
.book3{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 0px;
    right: -120px;
}

.Astro{
    width: 100%;
    position: absolute;
    top: 220%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
    padding: 150px 0;
   
   
}
.Astro h1{
    font-size: 70px;
    margin-top: 80px;
   
}
.Astro p{
    color: white;
    font-size: 20px;
   
    
}
.Astro h2{
    position: absolute;
    font-size: 40px;
    margin-top: 80px;
    top: 700px;
    right: 425px;
    
}

 .darkmatter{
    width: 100%;
    height: 100vh;
    background-image:  url(dark\ matter.jpg) ;
    background-size: cover;
    background-position: center;
 }
 .Dark{

    width: 50%;
    position: absolute;
    top: 345%;
    transform: translateY(-50%);
    text-align: left;
    color:white;
    right: 890px;
   
 }
 .Dark h1{
     
    font-size: 70px;
    margin-top: 80px;
    
 }
 .Dark p{
     
    color: white;
    font-size: 20px;
    
 }

 .bar3{
    position: absolute;
    top: 3100px;
    right: 50px; 
 }
 .dm{
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    right: 20px;
 }


.microwaves{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(31, 28, 28, 0.75), rgba(24, 22, 22, 0.75)), url(nz.png) ;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.Micro{
    width: 100%;
    position: absolute;
    top: 420%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
    
  
}
.Micro h1{
    font-size: 70px;
    margin-top: 80px;
}
.Micro p{
    color: white;
    font-size: 20px;
}
.bar4{
    position: absolute;
    top: 4300px;
    right: 1800px;
    
 }
 .ww{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0px;
    
 }


 .fa {
    padding: 20px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
